<div class="container" style="padding: 20px">
  <h2 style= "text-align: center">Mes Messages</h2>
  <% @chatrooms.each do |chatroom| %>
  <div class="card">
    <div class="notification" style="display: flex; justify-content: space-between;">
      <div style="display: flex; margin: 16px;">
        <% if chatroom.sender.image.key.empty? %>
          <%= cl_image_tag url("https://tse1.explicit.bing.net/th?id=OIP.QbYQOLvF6Mm5YRMwKHnxUAHaHa&pid=Api"), class: "avatar-large", alt: "avatar-large" %>
        <% else %>
          <%= cl_image_tag chatroom.sender.image.key, class: "avatar-large", alt: "avatar-large" %>
        <% end %>
        <div class="notification-content" style="flex-grow: 15;padding-left: 30px;">
          <p><small><%= chatroom.updated_at %></small></p>
          <p><strong><%= chatroom.sender.username %></strong></p>
        </div>
      </div>
      <div class="notification-actions" style="align-self: center; padding-right: 20px;">
        <%= link_to 'Discuter', chatroom_path(chatroom), class: "btn btn-primary" %>
        <%= link_to 'Archiver', chatroom_path(chatroom), method: :delete, class: "btn btn-primary", data: { confirm: "Êtes-vous sûr ?" } %>
      </div>
    </div>
  </div>
  <% end %>
    <%# <div class="notification">
      <img src='https://kitt.lewagon.com/placeholder/users/Eschults' class="avatar-large"/>
      <div class="notification-content">
        <p><small>9th January</small></p>
        <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
      </div>

      <div class="notification-actions">
        <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
        <a href="#">Delete <i class="far fa-trash-alt"></i></a>
      </div>
    </div>
  </div> %>
</div>
