<%# <div class="container-fluid min-vh-100"> %>
  <div class="card-form-main">
    <div class="card-form">
      <%= simple_form_for @user do |f| %>
        <h2 class="card-header">Tes jeux de cartes préférés, ta meilleure anecdote ou ta dernière acquistion de collectionneur, décris toi !</h2>
        <div class="card-body">
          <%= f.input :description, label: 'Ma description' %>
          <%= f.submit 'Modifier mon profil', class: 'btn btn-primary' %>
          <span></span>
          <%= f.input :image, label: 'Mon Avatar', as: :file %>
          <%= f.submit 'Modifier mon Avatar', class: 'btn btn-primary' %>
      <% end %>
          <div class="retour-profil">
            <button class="btn btn-primary"><%= link_to "Retour", user_path(@user) %></button>
          </div>
        </div>
    </div>
  </div>
<%# </div> %>
