<div class="container d-flex">
  <div style="width: 80%; height: 800px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  <div class="map-card overflow-auto" style="height: 800px;">
    <% @users.each do |user| %>
    <div class="card" style="width: 200px; height: 320px">
      <%# <img src="" class="card-img-top" alt="..."> %>
      <%# <%= image_tag user.image, height: '200px', width: '100%' %>
      <%= link_to user_path(user) do %>
          <%= image_tag user.image, width: '100%', height: '200px'%>
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= user.username %></h5>
        <p class="card-text">Trader : <%= user.trader %></p>
        <p class="card-text">Player : <%= user.player %></p>
        <%# <button class="btn btn-primary"><%= link_to user_path(user)</button> %>
        <%# <a href="#" class="btn btn-primary"></a> %>
      </div>
    </div>
    <% end %>
  </div>
</div>


<%# <div class="container">
  <form action="/politicians" accept-charset="UTF-8" method="get">
    <div class="search-bar">
      <div class="search-element">
        <p>Quel type d'expertise ?</p>
        <input type="text" name="query" id="query" class="form-control" placeholder="Fraude fiscale, manipulation, séduction, guerre, ..." />
       </div>
      <div class="search-element">
      <p>Dans quel pays ?</p>
        <input type="text" name="queryloc" id="queryloc" class="form-control" placeholder="France" />
       </div>
      <input type="submit" name="commit" value="Rechercher" class="btn btn-primary" data-disable-with="Rechercher" />
    </div>
</form>
</div> %>
