<div class="container">
  <div class="filters d-flex align-items-center my-1">
    <%= form_tag users_path, method: :get do %>
      <div class="search-elements ">
        <%= text_field_tag :query,
        params[:query],
        class: "form-inline",
        placeholder: "Recherche ton jeu" %>
          <span id="search-games-button">
            <%= submit_tag "Rechercher", class: "btn btn-primary btn-sm" %>
          </span>
      </div>
    <% end %>
    <div class="div p-3">
        Filtre tes recherches :
    </div>
      <div class="gap-2 d-md-block">
        <button id="player-button" class="filters-button btn btn-primary btn-sm" type="button"><%= link_to "Joueur", "#{users_path}?filter=player" %>
        </button>
        <button id="trader-button" class="filters-button btn btn-primary btn-sm ms-2" type="button"><%= link_to "Collectionneur", "#{users_path}?filter=trader" %>
        </button>
      </div>
  </div>
  <div class="map-elements d-flex">
    <div style="width: 80%; height: 800px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    <div class="map-listing overflow-auto" style="height: 800px;">
      <% @users.each do |user| %>
      <div class="map-card mx-3 mb-3 border border-4 border-success" style="width: 200px; height: 300px">
        <%= link_to user_path(user) do %>
          <% if user.image%>
            <%= cl_image_tag user.image.key, width: '100%', height: '200px'%>
          <% end %>
        <% end %>
        <div class="map-card-body border-top border-2 border-success">
          <h5 class="card-title text-success text-center pt-3"><%= user.username %></h5>
          <% if user.trader && user.player%>
            <p class="card-text text-primary text-center">Joueur & Collectionneur</p>
          <% elsif user.player %>
            <p class="card-text text-primary text-center">Joueur</p>
          <% else %>
            <p class="card-text text-primary text-center">Collectionneur</p>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
