<div class="container-users">
  <div class="flex-profil">
    <div class="carte-container">
      <div class="carte-profil">
        <h5 class="carte-title"><%= @user.username %></h5>
        <div class="carte-image">
          <% if @user.image%>
            <%= cl_image_tag @user.image.key, width: '100%', height: '257px'%>
          <% end %>
        </div>
        <div class="carte-body">
        </div>
      </div>
    </div>
    <div class="information-profile">
      <div class="buttons d-flex flex-row">
        <% if current_user == @user %>
         <div class="modifier-profil">
          <button class="btn btn-primary"><%= link_to "Modifier mon profil", edit_user_path(@user) %></button>
          <%# <%= link_to 'Modifier mon profil', edit_user_path(@user), class: "btn btn-primary"  %>
         </div>
        <% end %>
        <div class="trader-score">
          <button class="btn btn-info">
            Score d'échanges :
            <% if @user.trader == true %>
              <%= @user.trader_score %>
            <% else %>
              <%= 0 %>
            <% end %>
          </button>
        </div>
        <div class="player-score">
          <button class="btn btn-info">
            Score de duels :
            <% if @user.player == true %>
              <%= @user.player_score %>
            <% else %>
              <%= 0 %>
            <% end %>
          </button>
        </div>
        <div class="trust-score">
          <button class="btn btn-info">
            Score de fiabilité :
            <% if @user.trader_score %>
              <%= @user.player_score %>
            <% else %>
              <%= 0 %>
            <% end %>
          </button>
        </div>
      </div>
      <div class="description-profil">
        <h2 class="card-header">Description</h2>
        <div class="card-body">
          <p class="card-text">
              <%= @user.description %>
          </p>
        </div>
        <% if current_user != @user %>
          <div class="retour-profil">
            <%= simple_form_for [@chatroom] do |f| %>
              <%= f.input :receiver, input_html: {value: @user.id}, as: :numeric %>
              <%= f.submit "Discuter", class: "btn btn-primary" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <h2 class="card-header">Mes échanges/duels</h2>
  <% if @user_1.empty? %>
    <%= "vide" %>
  <% else %>
    <% @user_1.each do |booking| %>
    <div class="booking-user">
      <%= booking.date %>
      <%= booking.creator.username %>
      <%= booking.player.username %>
      <%= booking.booking_type %>
      <%= booking.result %>
    <% end %>
  <% end %>
    </div>
</div>
