<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "thecollector.png", class:"img"%>
    <% end %>
    <% if user_signed_in? %>
        <div>
          <ul class="navbar-nav">
            <div class="hover-navbar">
              <li>
                <i class="fas fa-map"></i>
                <%= link_to "Chercher un joueur", users_path, class: "nav-link" %>
              </li>
            </div>
            <div class="hover-navbar">
              <li>
                <i class="fas fa-user-circle"></i>
                <%= link_to "Mon Profil", user_path(current_user), class: "nav-link" %>
              </li>
            </div>
            <div class="hover-navbar">
              <li>
                <i class="fas fa-comments"></i>
                <div class="btn-group">
                  <button type="button" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="no-button">
                    Mes Discussions
                  </button>
                  <div class="dropdown-menu">
                    <%= link_to "Chat Général", chatroom_path(Chatroom.find_by(name: 'Discussion générale')), class:"dropdown-item" %>
                    <%= link_to "Mes Messages", chatrooms_path, class:"dropdown-item" %>
                  </div>
                </div>
              </li>
            </div>
            <div class="hover-navbar">
              <li>
                <i class="fas fa-users"></i>
                <div class="btn-group">
                  <button type="button" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="no-button">
                    Classements
                  </button>
                <div class="dropdown-menu">
                  <%= link_to "Classements des joueurs", duel_path, class:"dropdown-item" %>
                  <%= link_to "Classement des échanges", echange_path, class:"dropdown-item" %>
                  <%= link_to "Classement de fiabilité", fiable_path, class:"dropdown-item" %>
                </div>
              </div>
              </li>
            </div>
          </ul>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-flat dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class= "fas fa-grip-lines"></i>
          </button>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <%= link_to "Se Déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </div>
    <% else %>
       <h1 class="navbar-brand">The collector</h1>
      <div>
        <a class="btn btn-flat" href="/users/sign_in" role="button">Se Connecter</a>
        <a class="btn btn-flat" href="/users/sign_up" role="button">S'enregistrer</a>
      </div>
    <% end %>
<%#
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <%# <li class="nav-item dropdown">
            <%= image_tag "", class: "avatar dropdown-toggle fas fa-grip-lines", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <%# <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown"> %>
              <%# <%= link_to "Se Déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            <%# </div> %>
          <%# </li> %>
        <%# <% else %>
        <%# <% end %>
      <%# </ul> %>
    <%# </div> %>
  </div>
</div>
