<div class="container" style="background-color: white;">
  <h1 class="pt-3 text-center">Classement des meilleurs joueurs</h1>
  <div class="container-classement">
    <table style="margin: auto;">
      <thead>
        <tr>
          <th style="text-align: center;">
            <button id="player-button" class="filters-button btn btn-primary btn-sm" type="button"><%= link_to "Yu-gi-Oh!", "#{duel_path}?game=Yugioh" %>
            </button>
          </th>
          <th style="text-align: center;">
            <button id="player-button" class="filters-button btn btn-primary btn-sm ms-2" type="button"><%= link_to "Magic", "#{duel_path}?game=Magic The Gathering" %>
            </button>
          </th>
          <th style="text-align: center;">
            <button id="player-button" class="filters-button btn btn-primary btn-sm ms-2" type="button"><%= link_to "Pokémon", "#{duel_path}?game=Pokemon" %>
            </button>
          </th>
        </tr>
      </thead>
    </table>
    <table class="table table-striped mt-5" style="margin: auto;">
      <thead>
        <tr>
          <th style="text-align: center;">Position</th>
          <th style="text-align: center;">Joueur</th>
          <th style="text-align: center;">Score</th>
        </tr>
      </thead>
      <tbody>
        <% @players.sort_by { |user| user.player_score }.reverse.each_with_index do |user, index| %>
          <tr>
            <td scope="row" class="text-center vertical-align"><%= index +1 %></td>
            <td class="d-flex justify-content-center"><div style="width: 250px;"><%= cl_image_tag user.image.key, class: "avatar-perso vertical-align", alt: "avatar" %><%= user.username %></div></td>
            <td class="text-center vertical-align"><%= user.player_score %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
