<div class="container">
  <h1 class="pt-3 text-center">Classement des meilleurs joueurs</h1>
  <table>
    <thead>
      <tr>
        <th>
          <button id="player-button" class="filters-button btn btn-primary btn-sm" type="button"><%= link_to "Yu-gi-Oh!", "#{duel_path}?game=Yugioh" %>
          </button>
        </th>
        <th>
          <button id="player-button" class="filters-button btn btn-primary btn-sm ms-2" type="button"><%= link_to "Magic", "#{duel_path}?game=Magic The Gathering" %>
          </button>
        </th>
        <th>
          <button id="player-button" class="filters-button btn btn-primary btn-sm ms-2" type="button"><%= link_to "Pokémon", "#{duel_path}?game=Pokemon" %>
          </button>
        </th>
      </tr>
    </thead>
    <thead>
      <tr>
        <th>Position</th>
        <th>Joueur</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      <% @users.sort_by { |user| user.player_score }.reverse.each_with_index do |user, index| %>
        <tr>
          <td scope="row" class="text-center"><%= index +1 %></td>
          <td class="text-center"><%= cl_image_tag user.image.key, class: "avatar", alt: "avatar" %></td>
          <td class="text-center"><%= user.username %></td>
          <td class="text-center"><%= user.player_score %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
