<div class="container" style="background-color: white;">
  <h1 class="pt-3 text-center">Classement de fiabilité</h1>
  <h3 class="pt-3 text-center">Classement des collectionneurs et joueurs les plus fiables</h2>
  <div class="container-classement">
    <table style="margin: auto;">
      <thead>
        <tr>
          <th style="text-align: center;">
            <button id="player-button" class="filters-button btn btn-primary btn-sm" type="button"><%= link_to "Joueur", "#{fiable_path}?type=player" %>
            </button>
          </th>
          <th style="text-align: center;">
            <button id="player-button" class="filters-button btn btn-primary btn-sm ms-2" type="button"><%= link_to "Collectionneur", "#{fiable_path}?type=trader" %>
            </button>
          </th>
        </tr>
      </thead>
    </table>
    <table class="table table-striped mt-5" style="margin: auto;">
      <thead>
        <tr>
          <th style="text-align: center;">Position</th>
          <th style="text-align: center;">Utilisateur</th>
          <th style="text-align: center;">Score</th>
        </tr>
      </thead>
      <tbody>
        <% @users.sort_by { |user| user.trust_score }.reverse.each_with_index do |user, index| %>
          <tr>
            <td scope="row" class="text-center"><%= index +1 %></td>
            <td class="text-center"><%= cl_image_tag user.image.key, class: "avatar-large", alt: "avatar",style: "width: 10%;margin-right: 10px;" %><%= user.username %></td>
            <td class="text-center"><%= user.trust_score %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
